<header class="page-header">
  {% if page.dir == '/' %}
    <div id="h1"><a href="/" title="Tobias Sandelius">Tobias Sandelius</a></div>
  {% else %}
    <h1><a href="/" title="Tobias Sandelius">Tobias Sandelius</a></h1>
  {% endif %}

  <p>Dad&middot;Rubyist&middot;Entrepreneur&middot;CTO</p>

  <ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="https://github.com/sandelius">Github</a></li>
    <li><a href="https://twitter.com/sandelius">Twitter</a></li>
    <li><a href="mailto:tobias@sandeli.us">Email</a></li>
  </ul>

</header>
